ul {
  list-style: none;
  padding-left: 0px;
}

p {
  margin: 12px 12px;
}

button {
  border: 0px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #f2f2f2;
  outline: none;
  color: #404040;
}

button:hover {
  cursor: pointer;
  background-color: #e4e4e4;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

div.simple-link {
  font-size: 12px;
  margin: 0px;
}

div.simple-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

body {
  background-color: #f2f2f2;
  color: #616161;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

canvas {
  box-shadow: 0 -1px 0 #e0e0e0,
              0 0 2px rgba(0,0,0,.12),
              0 2px 4px rgba(0,0,0,.24);
}

li.dashboard-list-item {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul.dashboard-info {
  display: flex;
  flex-direction: column;
}

ul.dashboard-info li {
  margin-top: 5px;
}

li.dashboard-list-item span {
  margin-left: 10px;
}

div.fretboard-container {
  margin-top: 40px;
}

div.dashboard-container {
  box-sizing: border-box;
  font-size: 81.25%;
  background: white;
  margin-top: 20px;
  width: 400px;
  padding: 10px 20px 10px 10px;
  box-shadow: 0 -1px 0 #e0e0e0,
              0 0 2px rgba(0,0,0,.12),
              0 2px 4px rgba(0,0,0,.24);
}

div.dashboard-container.selected {
  border-left: 3px solid #4285f4;
}

div.component-container {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

ul.menu {
  cursor: pointer;
  margin-right: 25px;
  margin-bottom: 0px;
  border-bottom: 1px solid #ddd;
}

ul.menu.last {
  margin-top: 10px;
  border-bottom: 0px solid #ddd;
}

ul.menu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  width: 200px;
  font-size: 81.25%;
}

ul.menu li span {
  padding-left: 5px;
}

ul.menu li:hover {
  background-color: rgba(0,0,0,.03);
  color: #404040;
}

div.header {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  -webkit-font-smoothing: antialiased;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 18px;
  color: white;
  font-size: 1.2em;
  background-color: #4285f4;
}

input.slider {
  margin-bottom: 10px;
}

.ReactModal__Content {

}

.ReactModal__Content--after-open {
  opacity: .99;
  position: absolute;
  top: 15%;
  left: 30%;
  right: 30%;
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.ReactModal__Overlay {
  display: none;
}

.ReactModal__Overlay--after-open {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}

ul.current-tuning-list {
  display: flex;
  flex-direction: row;
}

li.tuning-note {
  margin: 5px;
  width: 35px;
  line-height: 35px;
  height: 35px;
  text-align: center;
  cursor: pointer;
  background-color: #FF8A65;
  color: white;
  /*border-radius: 5px;*/
}

li.tuning-note:hover {
  background-color: #FF5722;
}

li.tuning-note.selected {
  background-color: #FF5722;
}

ul.all-notes-list {
  display: flex;
  flex-direction: row;
  width: 180px;
  flex-wrap: wrap;
}

ul.hidden {
  display: none;
}

ul.notification-stack {
  list-style: none;
  padding: 0px;
  margin: 0px;
  position: fixed;
  z-index: 1000;
  bottom: 16px;
  left: 16px;
}

ul.notification-stack li {
  padding: 10px 20px;
  margin-top: 10px;
  font-weight: normal;
  color: white;
}

li.success-notification {
  background: #4285f4;
}

li.error-notification {
  background: #FF5722;
}

.notifications-enter {
  opacity: 0.01;
  transform: translateY(200%);
}

.notifications-enter.notifications-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 500ms ease-in, transform 300ms ease-in;
}

.notifications-leave {
  opacity: 1;
  transform: translateX(0);
}

.notifications-leave.notifications-leave-active {
  opacity: 0.01;
  transform: translateX(-200%);
  transition: opacity 300ms ease-in, transform 300ms ease-in;
}
