ul {
  list-style: none;
  padding-left: 0px;
}

body {
  background-color: #f2f2f2;
  color: #616161;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

canvas {
  box-shadow: 0 -1px 0 #e0e0e0,
              0 0 2px rgba(0,0,0,.12),
              0 2px 4px rgba(0,0,0,.24);
}

div.component-container {
  margin-top: 80px;
  display: flex;
  flex-direction: row;
}

ul.menu {
  cursor: pointer;
  margin-right: 25px;
  margin-bottom: 0px;
  border-bottom: 1px solid #ddd;
}

ul.menu.last {
  margin-top: 10px;
  border-bottom: 0px solid #ddd;
}

ul.menu li {
  padding: 10px;
  width: 200px;
  font-size: 81.25%;
}

ul.menu li:hover {
  background-color: rgba(0,0,0,.03);
}

div.header {
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  -webkit-font-smoothing: antialiased;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 18px;
  color: white;
  font-size: 1.2em;
  background-color: #4285f4;
}

input.slider {
  margin-bottom: 10px;
}

.ReactModal__Content {

}

.ReactModal__Content--after-open {
  opacity: .99;
  position: absolute;
  top: 20%;
  left: 30%;
  bottom: 20%;
  right: 30%;
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
}

.ReactModal__Overlay {
  display: none;
}

.ReactModal__Overlay--after-open {
  display: block;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(0, 0, 0, 0.2);
}
