li.alt-tuning-list-item {
  padding: 8px;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  background-color: #E57373;
  color: white;
  margin: 3px;
  /*border-radius: 5px;*/
}

div.cycle-tunings {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

div.tuning-cycle-container {
  width: 100%;
}

div.simple-link.left {
  align-self: flex-start;
}

div.simple-link.right {
  align-self: flex-end;
}
div.simple-link.disabled {
  color: #bbb;
}

div.simple-link.disabled:hover {
  cursor: not-allowed;
  text-decoration: none;
}


li.alt-tuning-list-item:hover {
  background-color: #E53935;
}

ul.alt-tuning-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul.alt-tuning-list.hidden {
  display: none;
}

div.alt-tuning-container {
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-between;
}

div.alt-tuning-container.hidden {
  height: 0px
}

li.tuning-note {
  background-color: #E57373;
}

li.tuning-note:hover {
  background-color: #E53935;
}

li.tuning-note.selected {
  background-color: #E53935;
}
